::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #061161;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(to right,#780206, #061161);
  background: linear-gradient(to right,#780206, #061161);
  border-radius: 12px;
}

 /* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
} */
